<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Application Submitted</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
<body>
  {% include 'nav.html' %}
  <img src="https://4b73d903-adb4-441d-a4ce-73599253a754-00-3syut7o23dyjt.sisko.replit.dev/static/careers.jpg" alt="banner"  style="object-fit:cover;height:300px;width:100%;">

  <div class="container pt-2">
    {% for application in applications %}

    <hr>
    
    <b class="mb-0 mt-2">Name</b>
    <div class="mb-2">{{application['full_name']}}</div>

    <b class="mb-0 mt-2">Job</b>
    <div class="mb-2">{{application['job_id']}}</div>
    
    <b>Email</b>
    <div class="mb-2">{{application['email']}}</div>

    <b>Education</b>
    <div class="mb-2">{{application['education']}}</div>

    <b>Work Experience</b>
    <div class="mb-2">{{application['work_experience']}}</div>

    <b>Resume URL</b>
    <div class="mb-2">{{application['resume_url']}}</div>

    <b>LinkedIN URL</b>
    <div class="mb-2">{{application['linkedin_url']}}</div>

    <hr>
    
    {% endfor %}
  </div>
     {% include 'footer.html' %}
  </body>